(
    type: "Program",
    body: [
        (
            kind: VariableDefinition(
                descriptor: [
                    (
                        name: Some("x"),
                        slot: 0,
                        depth: 0,
                        start: 4,
                        end: 5,
                        upvalue: false,
                    ),
                ],
                expression: (
                    kind: Literal(
                        type: Literal,
                        value: 0.0,
                    ),
                    start: 8,
                    end: 9,
                ),
                type_ref: None,
                ty: (),
            ),
            start: 0,
            end: 9,
        ),
        (
            kind: For(
                variable: (
                    name: Some("i"),
                    slot: 1,
                    depth: 0,
                    start: 0,
                    end: 0,
                    upvalue: false,
                ),
                iterable: Range(Some((
                    kind: Literal(
                        type: Literal,
                        value: 0.0,
                    ),
                    start: 20,
                    end: 21,
                )), Some((
                    kind: Literal(
                        type: Literal,
                        value: 10000000.0,
                    ),
                    start: 23,
                    end: 31,
                ))),
                statements: [
                    (
                        kind: Expression(
                            expression: (
                                kind: Assignment(
                                    left: (
                                        kind: Variable((
                                            name: None,
                                            slot: 0,
                                            depth: 0,
                                            start: 0,
                                            end: 0,
                                            upvalue: false,
                                        )),
                                        start: 38,
                                        end: 39,
                                    ),
                                    operator: (
                                        type: "Assign",
                                    ),
                                    right: (
                                        kind: Binary(
                                            left: (
                                                kind: Variable((
                                                    name: None,
                                                    slot: 0,
                                                    depth: 0,
                                                    start: 0,
                                                    end: 0,
                                                    upvalue: false,
                                                )),
                                                start: 42,
                                                end: 43,
                                            ),
                                            operator: (
                                                type: "Plus",
                                            ),
                                            right: (
                                                kind: Variable((
                                                    name: None,
                                                    slot: 1,
                                                    depth: 0,
                                                    start: 0,
                                                    end: 0,
                                                    upvalue: false,
                                                )),
                                                start: 46,
                                                end: 47,
                                            ),
                                        ),
                                        start: 42,
                                        end: 47,
                                    ),
                                ),
                                start: 38,
                                end: 47,
                            ),
                        ),
                        start: 38,
                        end: 47,
                    ),
                ],
            ),
            start: 11,
            end: 49,
        ),
    ],
)